// Royal Brothers CSS //////////////////////////////////////////////////////////////////////////////////////////////

.header{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(../src/img/background-min.jpg);
    height: 50rem;
    background-size: cover;
    background-position:center;
    color: #ffffff;
    max-width: 100%;

    @media only screen and (max-width:800px) {
        height: 40rem;
    }

    @media only screen and (max-width:700px) {
        height: 30rem;
    }

    @media only screen and (max-width:400px) {
        height: 20rem;
    }


    &__phone{
        p{
            background: linear-gradient(rgba(54, 54, 54, 0.9),rgba(54, 54, 54, 0.9));
            text-align: right;
            font-size: 1.4rem;
            padding: .5rem;
            margin: 0;
            @media only screen and (max-width:350px) {
                font-size: 1.2rem;
                text-align: center;
            }
        }

       

    }
    .navbar{
        background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
        box-shadow: 0px .1rem .1rem rgba(0,0,0,0.5);
        
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 1rem 2rem;

        box-sizing: border-box;

        font-size: 1.2rem;

       

        &__left{
            display: flex;
            align-items: center;

           
        }

        &__right{
            align-items: center;
            transform: translateX(-1rem);

            &__menu{
                display: none;

                @media only screen and (max-width:1000px) {
                    display:block;
                }
                transition: all .2s;

                &__container{
                    display: none;
                    position:fixed;
                    top: 0;
                    right: 0;
                    z-index: 10;
                    background-color: #efefef;
                    color: #363636;
                    margin-top:-30px;
                    margin-right: -20px;
                    padding: 3rem 3rem 1rem 1rem;
                    border-radius: 3rem;
                    width: 15rem;

                    @media only screen and (max-width:800px) {
                        padding: 2rem 2rem 1rem 1rem;
                    }

                    
                    @media only screen and (max-width:700px) {
                        padding: 1rem 1rem 1rem 1rem;
                        width:12rem;
                    }

                    @media only screen and (max-width:500px) {
                        padding: 0;
                        width:11rem;
                    }

                }

                &__list{
                    list-style: none;
                    font-size: 2rem;
                   
                    @media only screen and (max-width:800px) {
                        font-size: 1.8rem;
                    }

                    @media only screen and (max-width:700px) {
                        font-size: 1.5rem;
                    }

                    @media only screen and (max-width:600px) {
                        font-size: 1.2rem;
                    }
                   
                }

                &__items{
                    margin-bottom: 3rem;
                 }
            }
           
            &__list{
                display:flex;
                list-style: none;
                align-items: center;

                @media only screen and (max-width:1000px) {
                    display:none;
                }

            }

            &__items{
                
                &:not(:last-child){
                    margin-right: 5rem;
                }

                &:hover{
                    &:not(:last-child){
                        cursor: pointer;
                        color: #ccc;
                        height: 100%;
                    }
                    
                }

                i{
                    font-size: 1.5rem;
                   margin-left: .5rem;
                    transform: translateY(.2rem);
                }

                &-box{
                    display: inline-block;
                    border: 1px solid #fff;
                    margin: -1rem;
                    padding: 1rem;
                    box-sizing: border-box;

                    span:first-child{
                        border-right: 1.5px solid #fff;
                        padding-right: 1rem;
                        margin-right: 1rem;

                       
                    }
                    span{
                        &:hover{
                            cursor: pointer;
                            color: #ccc;
                            height: 100%;
                        }
                    }
                }
            }

            
        }

       &__logo{
        width: 15rem;
        height:4.5rem;
        margin-right: 4rem;

        @media only screen and (max-width:400px) {
            width: 10rem;
            height:2.5rem;
        }

        @media only screen and (max-width:350px) {
            width: 8rem;
            height:2rem;
        }
       }

       &__bikes{
           i{
               font-size: 1.5rem;
               margin-left: .5rem;
               transform: translateY(.2rem);
           }
           @media only screen and (max-width:350px) {
            font-size: 1.3rem;
               margin-left: -2rem;
        }
       }
    }

    
}


// **************************************************************************

.section__info{
    background-color: #f3f3f3;

    &__container{
        padding: 5rem 15rem;
        @media only screen and (max-width:1100px) {
            padding: 5rem 5rem;
        }
    
        @media only screen and (max-width:900px) {
            padding: 3rem 3rem;
        }

        
    }
    &__box{
        display: grid;
        grid-template-columns:repeat( auto-fit, minmax(180px, 1fr) );
        grid-gap: 2rem;

        @media only screen and (max-width:440px) {
            grid-template-columns:repeat( auto-fit, minmax(150px, 1fr) );
        }

        @media only screen and (max-width:380px) {
            grid-template-columns:repeat( auto-fit, minmax(120px, 1fr) );
        }

        @media only screen and (max-width:330px) {
            grid-template-columns:repeat( auto-fit, minmax(110px, 1fr) );
        }

        &__items{
            display: block;
            background-color: #E3E1E1;
            padding: 2rem 1rem 3rem 2.5rem;
            box-shadow: 0 1px 20px rgba(0,0,0,0.12), 0 1px 5px rgba(0,0,0,0.24);

            @media only screen and (max-width:700px) {
                padding: 1rem 1rem 2rem 2.5rem;
            }
            &__heading{
                font-weight: 700;
                font-size: 3rem;

                i{
                    font-size: 1.5rem;
                    transform: translateY(-.3rem);
                }
            }
            &__subheading{
                font-weight: 700;
                font-size: 1.1rem;
                text-transform: uppercase;
            }
        }
    }
}

// ***************************************************************************
.section__speciality{
    background-color: #fff;
    &__containerOut{
        padding: 0 15rem 5rem 15rem;
        @media only screen and (max-width:1100px) {
            padding: 5rem 5rem;
        }
    
        @media only screen and (max-width:900px) {
            padding: 3rem 3rem;
        }
    }
   
    &__heading{
        text-transform: uppercase;
        font-size: 2.5rem;
        text-align: center;
        margin-top:2rem;
    }

    &__container{
        display: grid;
        grid-template-columns:repeat( auto-fit, minmax(250px, 1fr) );
        grid-gap: 2rem;

        margin-top: 4rem;
        padding-bottom: 5rem;

        &__box{
            display: grid;
            grid-template-columns: 5rem 1fr;
            align-items: center;            

            .number{
                font-size: 4.9rem;
                font-weight: 700;
                color: rgb(254, 204, 0);
            }
            .title{
                font-size: 1.5rem;
                font-weight: 700;
                text-align: left;
                line-height: 1.5;
                margin-left: 1.2rem;
                padding-right: 1.5rem;
            }
            .text{
                grid-column: 1/-1;
                font-size: 1.2rem;
                color: #9e9e9e;
                line-height: 1.8rem;
                text-align: justify;
                align-self: start;
                padding: 1rem 0rem;
            }
        }
    }
}

// **********************************************************************
.section__bikes{
    background-color: #f2f2f2;
    &__containerOut{
        padding: 0 15rem 5rem 15rem;
        @media only screen and (max-width:1100px) {
            padding: 5rem 5rem;
        }
    
        @media only screen and (max-width:900px) {
            padding: 3rem 3rem;
        }
    }
   &__heading{
       font-size: 2.5rem;
       font-weight: 700;
       text-transform: uppercase;
       text-align: center;
       padding: 4rem 0;
   }

   &__container{
       &__block{
           width: 100%;
        //    height: 16rem;
        //    padding-top: 2rem;
          
        
           &__boxes{
            background-color: #fff;
            display: grid;
            grid-template-columns:repeat( auto-fit, minmax(300px, 1fr) );
            // grid-template-rows : repeat(4,1fr);
            justify-items: center;
            // border-bottom: .2rem solid #aaa;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

            @media only screen and (max-width: 1300px) {
                // grid-template-columns: repeat(3,1fr);
              }

              @media only screen and (max-width:350px) {
                grid-template-columns:repeat( auto-fit, minmax(200px, 1fr) );
            }

            .subBox{
                border-bottom: .4rem solid #aaa;
                width: 100%;
            
                &__title{
                    position: relative;
                    font-size: 1.3rem;
                    font-weight: 700;
                    text-align: center;
                    z-index: 100;
                }

                &__image{
                    margin-top: -2.5rem;
                    margin-bottom: -.25rem;
                    margin-left: 2rem;

                    @media only screen and (max-width:350px) {
                        width: 80%;
                    }
                }

                &__seemore{
                   font-weight: 700;
                   color: #aaa;
                   font-size: 1.5rem;
                   margin-top: 8rem;
                   margin-left: 10rem;
                }
            }
            
           }

           
       }
   }
}

// **********************************************************************
.section__news{
background-color: #f2f2f2;
    &__containerOut{
        padding: 0 15rem 3rem 15rem;
        @media only screen and (max-width:1100px) {
            padding: 5rem 5rem;
        }
    
        @media only screen and (max-width:900px) {
            padding: 3rem 3rem;
        }

        @media only screen and (max-width:515px) {
            padding: 3rem 0rem;
        }
    }
    
    &__container{
        display: grid;
        grid-template-columns:repeat( auto-fit, minmax(100px, 1fr) );
        // margin-top: 3rem;
        padding: 1rem 3rem;
        grid-column-gap: 2rem;

        @media only screen and (max-width:800px) {
            padding: .5rem 3rem;
            grid-gap: 2.5rem;
        }

        @media only screen and (max-width:600px) {
            grid-template-columns:repeat( auto-fit, minmax(80px, 1fr) );
        }

        @media only screen and (max-width:460px) {
            grid-template-columns:repeat( auto-fit, minmax(50px, 1fr) );
        }

        @media only screen and (max-width:340px) {
            grid-template-columns:repeat( auto-fit, minmax(100px, 1fr) );
            grid-column-gap: 1rem;
        }

     

      

        img{
            width: 20rem;

            @media only screen and (max-width:1400px) {
                width: 15rem;
            }
    

            @media only screen and (max-width:1100px) {
                width: 15rem;
            }

            @media only screen and (max-width:800px) {
                width: 12rem;
            }

            @media only screen and (max-width:600px) {
                width: 10rem;
            }

            @media only screen and (max-width:460px) {
                width: 8rem;
            }
        }
    }
}

.footer{
    background-color: #363636;
    padding: 3em 15rem;
    color: #E3E1E1;

    @media only screen and (max-width:1110px) {
        padding: 3rem 6rem;
    }

    @media only screen and (max-width:700px) {
        padding: 3rem 3rem;
    }

    @media only screen and (max-width:480px) {
        padding: 1rem 1rem;
     }
    &__container{
        display: grid;
        grid-template-columns: 40rem repeat( 3, 1fr );

        @media only screen and (max-width:1130px) {
            grid-template-columns: 28rem repeat( 3, 1fr );
        }

        @media only screen and (max-width:830px) {
            grid-template-columns: 25rem repeat( 3, 1fr );
        }
        @media only screen and (max-width:800px) {
            grid-template-columns: 20rem repeat( 3, 1fr );
        }
        @media only screen and (max-width:700px) {
            grid-template-columns: repeat( 3, 1fr );
        }

        @media only screen and (max-width:480px) {
          display: flex;
          flex-direction: column;
        }

        &__box{

            @media only screen and (max-width:700px) {
               margin-top: 0 !important;

               &:first-child{
                grid-column-start: 0;
                grid-column-end: 1;
            }
               
            }



           

            img{
                width: 40rem;
                @media only screen and (max-width:1400px) {
                    width: 30rem;
                }

                @media only screen and (max-width:830px) {
                    width: 25rem;
                }

                @media only screen and (max-width:800px) {
                    width: 20rem;
                }

                @media only screen and (max-width:701px) {
                    display: none;
                   
                }
            }

            &__list{
                font-weight: 700;
                font-size: 2.5rem;
                color: #fff;

               h1{
                   font-size: 2.5rem;
                   text-transform: uppercase;
               }
                &__items{                
                   margin-bottom: .5rem;
                    font-size: 1.2rem;
                    font-weight: 500;
                    list-style: none;
                }
            }
        }

       
    }
    &__copy{
       text-align: center;
       margin-top: 2rem;
       font-size: 1.6rem;
       font-weight: 400;
       @media only screen and (max-width:800px) {
        font-size: 1.4rem;
        margin-top: 1rem;
        
     }
       @media only screen and (max-width:480px) {
        font-size: 1.2rem;
        margin-top: 1rem;
        
     }

     @media only screen and (max-width:35px) {
        font-size: 1rem;
        margin-top: 1rem;
        
     }
    }
}

.display{
    display: block;
}

.hidden{
    display: hidden;
}