.header{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(../src/img/background.jpg);
    height: 50rem;
    background-size: cover;
    background-position:center;
    color: #ffffff;


    &__phone{
        p{
            background: linear-gradient(rgba(54, 54, 54, 0.9),rgba(54, 54, 54, 0.9));
            text-align: right;
            font-size: 1.4rem;
            padding: .5rem;
            margin: 0;
        }
    }
    .navbar{
        background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
        box-shadow: 0px .1rem .1rem rgba(0,0,0,0.5);
        
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 1rem 2rem;

        font-size: 1.2rem;

        &__left{
            display: flex;
            align-items: center;
        }

        &__right{
            align-items: center;
            transform: translateX(-1rem);
           
            &__list{
                display:flex;
                list-style: none;

            }

            &__items{
                
                &:not(:last-child){
                    margin-right: 5rem;
                }

                &:hover{
                    &:not(:last-child){
                        cursor: pointer;
                        color: #ccc;
                        height: 100%;
                    }
                    
                }

                i{
                    font-size: 1.5rem;
                   margin-left: .5rem;
                    transform: translateY(.2rem);
                }

                &-box{
                    display: inline-block;
                    border: 1px solid #fff;
                    margin: -1rem;
                    padding: 1rem;
                    box-sizing: inherit;

                    span:first-child{
                        border-right: 1.5px solid #fff;
                        padding-right: 1rem;
                        margin-right: 1rem;

                       
                    }
                    span{
                        &:hover{
                            cursor: pointer;
                            color: #ccc;
                            height: 100%;
                        }
                    }
                }
            }

            
        }

       &__logo{
        width: 15rem;
        height:4.5rem;
        margin-right: 4rem;
       }

       &__bikes{
           i{
               font-size: 1.5rem;
               margin-left: .5rem;
               transform: translateY(.2rem);
           }
       }
    }

    
}


.container{
    padding: 5rem 15rem;
}
// **************************************************************************

.section__info{
    &__box{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 3rem;
        margin-bottom: 5rem;

        &__items{
            display: block;
            background-color: #E3E1E1;
            padding: 2rem 1rem 3rem 2.5rem;
            box-shadow: 0 1px 20px rgba(0,0,0,0.12), 0 1px 5px rgba(0,0,0,0.24);
            &__heading{
                font-weight: 700;
                font-size: 3rem;
            }
            &__subheading{
                font-weight: 700;
                font-size: 1.1rem;
                text-transform: uppercase;
            }
        }
    }
}

// ***************************************************************************
.section__speciality{
    &__heading{
        text-transform: uppercase;
        font-size: 2.5rem;
        text-align: center;
        margin-top: 7rem;
    }

    &__container{
        display: grid;
        grid-template-columns:repeat( auto-fit, minmax(250px, 1fr) );
        grid-gap: 2rem;

        margin-top: 4rem;
        padding-bottom: 5rem;

        &__box{
            display: grid;
            grid-template-columns: 5rem 1fr;
            align-items: center;

            .number{
                font-size: 4.9rem;
                font-weight: 700;
                color: rgb(254, 204, 0);
            }
            .title{
                font-size: 1.5rem;
                font-weight: 700;
            }
            .text{
                grid-column: 1/-1;
                font-size: 1.2rem;
                color: #9e9e9e;
                line-height: 1.8rem;
                text-align: justify;
                align-self: start;
                padding: 1rem 0rem;
            }
        }
    }
}

// **********************************************************************
.section__bikes{
   &__heading{
       font-size: 2.5rem;
       font-weight: 700;
       text-transform: uppercase;
       text-align: center;
       margin-top: 5rem;
       margin-bottom: 3rem;
   }

   &__container{
       &__block{
           width: 100%;
           height: 16rem;
           padding-top: 2rem;
        
           &__boxes{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            justify-items: center;
            border-bottom: .4rem solid #aaa;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            .subBox{
                position: relative;
                &__title{
                    position: relative;
                    font-size: 1.3rem;
                    font-weight: 700;
                    text-align: center;
                    z-index: 100;
                }

                &__image{
                    margin-top: -2.5rem;
                    margin-bottom: -.25rem;
                }

                &__seemore{
                    align-self: center;
                    justify-self: center;
                   font-weight: 700;
                   color: #aaa;
                   font-size: 1.5rem;
                   position: absolute;
                   top: 50%;
                   left: 50%;
                   transform: translate(-50%,-50%);
                   width: 10rem;
                }
            }
            
           }

           
       }
   }
}

// **********************************************************************
.section__news{
    &__container{
        display: grid;
        grid-template-columns: repeat(4,1fr);

        margin-top: 3rem;
        padding: 1rem 3rem;
        grid-column-gap: 2rem;

        img{
            width: 20rem;
        }
    }
}

.footer{
    background-color: #363636;
    padding: 3rem 15rem;
    color: #E3E1E1;
    &__container{
        display: grid;
        grid-template-columns: 40rem repeat(3,1fr);

        &__box{

            img{
                width: 40rem;
            }

            &__list{
                font-weight: 700;
                font-size: 2.5rem;

                &__items{
                    font-size: 1.2rem;
                    font-weight: 400;
                    list-style: none;
                }
            }
        }

       
    }
    &__copy{
       text-align: center;
       margin-top: 2rem;
       font-size: 1.6rem;
       font-weight: 400;
    }
}